/* Shared layout, spacing, grid, sizing, and positioning utilities.
   Split from 01-base-reset-utilities.css. */

.u-section {

    background-color: var(--_theme---background);
    color: var(--_theme---text);
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    display: flex;
    position: relative

}

.u-section:where(.w-variant-a4eabb01-8ed6-63d0-157e-0a7b56aedaa1) {

    --_theme---background: var(--swatch--white);
    --_theme---text: var(--swatch--black);
    --_theme---heading-accent: var(--swatch--brand-600);
    --_theme---background-2: var(--swatch--light-dim);
    --_theme---border: var(--swatch--dark-transparent);
    --_theme---text-link--border: var(--_theme---border);
    --_theme---text-link--text: var(--_theme---text);
    --_theme---text-link--border-hover: var(--_theme---text);
    --_theme---text-link--text-hover: var(--_theme---text-link--text);
    --_theme---selection--background: var(--swatch--brand-300);
    --_theme---selection--text: var(--swatch--brand-text);
    --_theme---button-primary--background: var(--swatch--white);
    --_theme---button-primary--border: var(--swatch--transparent);
    --_theme---button-primary--text: var(--swatch--brand-text);
    --_theme---button-primary--background-hover: var(--_theme---text);
    --_theme---button-primary--border-hover: var(--_theme---button-primary--background-hover);
    --_theme---button-primary--text-hover: var(--_theme---background);
    --_theme---button-secondary--background: var(--swatch--transparent);
    --_theme---button-secondary--border: var(--_theme---border);
    --_theme---button-secondary--text: var(--_theme---text);
    --_theme---button-secondary--background-hover: var(--_theme---text);
    --_theme---button-secondary--border-hover: var(--_theme---button-secondary--background-hover);
    --_theme---button-secondary--text-hover: var(--_theme---background)

}

.u-section:where(.w-variant-857e5430-97c7-deb6-3c1a-d3063f9fe2c7) {

    --_theme---background: var(--swatch--black);
    --_theme---text: var(--swatch--white);
    --_theme---heading-accent: var(--swatch--brand-500);
    --_theme---background-2: var(--swatch--dark);
    --_theme---border: var(--swatch--light-dark);
    --_theme---text-link--border: var(--_theme---border);
    --_theme---text-link--text: var(--_theme---text);
    --_theme---text-link--border-hover: var(--swatch--brand-500);
    --_theme---text-link--text-hover: var(--_theme---text-link--text);
    --_theme---selection--background: var(--swatch--brand-300);
    --_theme---selection--text: var(--swatch--brand-text);
    --_theme---button-primary--background: var(--swatch--white);
    --_theme---button-primary--border: var(--swatch--transparent);
    --_theme---button-primary--text: var(--swatch--brand-text);
    --_theme---button-primary--background-hover: var(--_theme---text);
    --_theme---button-primary--border-hover: var(--_theme---button-primary--background-hover);
    --_theme---button-primary--text-hover: var(--_theme---background);
    --_theme---button-secondary--background: var(--swatch--transparent);
    --_theme---button-secondary--border: var(--_theme---border);
    --_theme---button-secondary--text: var(--_theme---text);
    --_theme---button-secondary--background-hover: var(--_theme---text);
    --_theme---button-secondary--border-hover: var(--_theme---button-secondary--background-hover);
    --_theme---button-secondary--text-hover: var(--_theme---background)

}

.u-section:where(.w-variant-f3a81397-d460-3add-9beb-5ec7af47907a) {

    --_theme---background: var(--swatch--white);
    --_theme---text: var(--swatch--black);
    --_theme---heading-accent: var(--swatch--brand-600);
    --_theme---background-2: var(--swatch--light-dim);
    --_theme---border: var(--swatch--dark-transparent);
    --_theme---text-link--border: var(--_theme---border);
    --_theme---text-link--text: var(--_theme---text);
    --_theme---text-link--border-hover: var(--_theme---text);
    --_theme---text-link--text-hover: var(--_theme---text-link--text);
    --_theme---selection--background: var(--swatch--brand-300);
    --_theme---selection--text: var(--swatch--brand-text);
    --_theme---button-primary--background: var(--swatch--white);
    --_theme---button-primary--border: var(--swatch--transparent);
    --_theme---button-primary--text: var(--swatch--brand-text);
    --_theme---button-primary--background-hover: var(--_theme---text);
    --_theme---button-primary--border-hover: var(--_theme---button-primary--background-hover);
    --_theme---button-primary--text-hover: var(--_theme---background);
    --_theme---button-secondary--background: var(--swatch--transparent);
    --_theme---button-secondary--border: var(--_theme---border);
    --_theme---button-secondary--text: var(--_theme---text);
    --_theme---button-secondary--background-hover: var(--_theme---text);
    --_theme---button-secondary--border-hover: var(--_theme---button-secondary--background-hover);
    --_theme---button-secondary--text-hover: var(--_theme---background)

}

.u-section:where(.w-variant-b4d321b1-05d4-6b05-8ab2-dfbc2f41ee4e) {

    --_theme---background: var(--swatch--black);
    --_theme---text: var(--swatch--white);
    --_theme---heading-accent: var(--swatch--brand-500);
    --_theme---background-2: var(--swatch--dark);
    --_theme---border: var(--swatch--light-dark);
    --_theme---text-link--border: var(--_theme---border);
    --_theme---text-link--text: var(--_theme---text);
    --_theme---text-link--border-hover: var(--swatch--brand-500);
    --_theme---text-link--text-hover: var(--_theme---text-link--text);
    --_theme---selection--background: var(--swatch--brand-300);
    --_theme---selection--text: var(--swatch--brand-text);
    --_theme---button-primary--background: var(--swatch--white);
    --_theme---button-primary--border: var(--swatch--transparent);
    --_theme---button-primary--text: var(--swatch--brand-text);
    --_theme---button-primary--background-hover: var(--_theme---text);
    --_theme---button-primary--border-hover: var(--_theme---button-primary--background-hover);
    --_theme---button-primary--text-hover: var(--_theme---background);
    --_theme---button-secondary--background: var(--swatch--transparent);
    --_theme---button-secondary--border: var(--_theme---border);
    --_theme---button-secondary--text: var(--_theme---text);
    --_theme---button-secondary--background-hover: var(--_theme---text);
    --_theme---button-secondary--border-hover: var(--_theme---button-secondary--background-hover);
    --_theme---button-secondary--text-hover: var(--_theme---background)

}

.u-section:where(.w-variant-25bf08d9-3196-322b-5616-019ac7f0f4f7) {

    --_theme---background: var(--swatch--brand-500);
    --_theme---text: var(--swatch--brand-text);
    --_theme---heading-accent: color-mix(in srgb, var(--_theme---text), white 20%);
    --_theme---background-2: var(--swatch--brand-600);
    --_theme---border: var(--swatch--brand-text-o20);
    --_theme---text-link--border: var(--_theme---border);
    --_theme---text-link--text: var(--_theme---text);
    --_theme---text-link--border-hover: var(--_theme---text);
    --_theme---text-link--text-hover: var(--_theme---text-link--text);
    --_theme---selection--background: var(--swatch--brand-300);
    --_theme---selection--text: var(--swatch--brand-text);
    --_theme---button-primary--background: var(--swatch--brand-text);
    --_theme---button-primary--border: var(--swatch--transparent);
    --_theme---button-primary--text: var(--swatch--brand-500);
    --_theme---button-primary--background-hover: color-mix(in srgb, var(--_theme---button-primary--background), white 10%);
    --_theme---button-primary--border-hover: var(--_theme---button-primary--background-hover);
    --_theme---button-primary--text-hover: var(--_theme---button-primary--text);
    --_theme---button-secondary--background: var(--swatch--transparent);
    --_theme---button-secondary--border: var(--_theme---border);
    --_theme---button-secondary--text: var(--_theme---text);
    --_theme---button-secondary--background-hover: var(--_theme---text);
    --_theme---button-secondary--border-hover: var(--_theme---button-secondary--background-hover);
    --_theme---button-secondary--text-hover: var(--_theme---background)

}

.u-container {

    z-index: 1;
    max-width: var(--max-width--main);
    width: calc(100% - var(--site--margin)*2);
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    container: threshold-large/inline-size

}

.u-container-small {

    z-index: 1;
    max-width: var(--max-width--small);
    width: calc(100% - var(--site--margin)*2);
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    container: threshold-large/inline-size

}

.u-container-full {

    z-index: 1;
    max-width: var(--max-width--full);
    width: calc(100% - var(--site--margin)*2);
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    container: threshold-large/inline-size

}

.u-svg {

    width: 100%;
    height: 100%;
    display: block;
    overflow: visible !important

}

.u-sr-only {

    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    width: 1px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: absolute;
    inset: 0% 0% auto;
    overflow: hidden

}

.u-section-spacer {

    height: var(--_spacing---section-space--none);
    position: relative

}

.u-section-spacer:where(.w-variant-d422cbd0-f212-c815-68df-63414354c21d) {

    height: var(--_spacing---section-space--small)

}

.u-section-spacer:where(.w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490) {

    height: var(--_spacing---section-space--main)

}

.u-section-spacer:where(.w-variant-8cc18b30-4618-8767-0111-f6abfe45aaa3) {

    height: var(--_spacing---section-space--large)

}

.u-section-spacer:where(.w-variant-41fc0c0a-cac3-53c9-9802-6a916e3fb342) {

    height: var(--site--margin)

}

.u-section-spacer:where(.w-variant-e359d2da-de19-6775-b122-3e06f925f39e) {

    height: var(--_spacing---section-space--page-top)

}

.u-visual-wrap {

    z-index: 1;
    aspect-ratio: 1;
    width: 100%;
    position: relative;
    overflow: hidden

}

.u-heading-accent strong {

    color: var(--_theme---heading-accent);
    font-weight: inherit

}

.u-line-clamp-1,
.u-line-clamp-2,
.u-line-clamp-3,
.u-line-clamp-4 {

    display: -webkit-box;
    overflow: hidden

}

.u-content-wrapper {

    text-align: var(--_alignment---direction, start)

}

.u-content-wrapper:where(.w-variant-67e1f4a6-997b-b215-d348-cc757a57083b) {

    --_alignment---direction: start

}

.u-content-wrapper:where(.w-variant-4f54624e-ceb1-0769-a238-365d5e220b70) {

    --_alignment---direction: center

}

.u-content-wrapper:where(.w-variant-405b6754-709a-81de-bf32-f0102c0c7aa2) {

    --_alignment---direction: end

}

.u-button-group {

    margin-top: var(--_spacing---space--6);
    grid-column-gap: var(--_spacing---space--2);
    grid-row-gap: var(--_spacing---space--2);
    align-content: center;
    align-items: center;
    justify-content: var(--_alignment---direction, start);
    flex-flow: wrap;
    display: flex

}

.u-child-contain {

    justify-content: center;
    align-items: var(--_alignment---direction, start);
    text-align: var(--_alignment---direction, start);
    flex-flow: column;
    min-width: 100%;
    display: flex

}

.u-flex-horizontal-wrap {

    align-content: center;
    align-items: center;
    justify-content: var(--_alignment---direction, start);
    text-align: var(--_alignment---direction, start);
    flex-flow: wrap;
    display: flex

}

.u-flex-vertical-nowrap {

    justify-content: center;
    align-items: var(--_alignment---direction, start);
    text-align: var(--_alignment---direction, start);
    flex-flow: column;
    display: flex

}

.u-flex-horizontal-nowrap {

    align-content: center;
    align-items: center;
    justify-content: var(--_alignment---direction, start);
    text-align: var(--_alignment---direction, start);
    flex-flow: row;
    display: flex

}

.u-flex-vertical-wrap {

    justify-content: center;
    align-items: var(--_alignment---direction, start);
    text-align: var(--_alignment---direction, start);
    flex-flow: column wrap;
    display: flex

}

.u-flex-grow {

    flex: 1

}

.u-flex-shrink {

    flex: 0 auto

}

.u-flex-noshrink {

    flex: none

}

.u-grid-custom {

    grid-column-gap: var(--site--gutter);
    grid-row-gap: var(--site--gutter);
    --_column-count---value: 12;
    grid-template-rows: auto;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: repeat(var(--_column-count---value), minmax(0, 1fr));
    flex-flow: column;
    display: grid

}

.u-grid-subgrid {

    grid-template-rows: auto;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: subgrid;
    grid-column-gap: inherit;
    grid-row-gap: inherit;
    grid-column: auto/span 1;
    display: grid

}

.u-grid-autofit {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: var(--site--gutter);
    --_column-count---value: 12;
    grid-template-rows: auto;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(min(max(8rem, (100% - ((var(--_column-count---value) - 1)*var(--_gap---size)))/var(--_column-count---value)), 100%), 1fr));
    display: grid

}

.u-grid-autofill {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: var(--site--gutter);
    --_column-count---value: 12;
    grid-template-rows: auto;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(min(max(8rem, (100% - ((var(--_column-count---value) - 1)*var(--_gap---size)))/var(--_column-count---value)), 100%), 1fr));
    display: grid

}

.u-grid-above,
.u-grid-below {

    grid-column-gap: var(--site--gutter);
    grid-row-gap: var(--site--gutter);
    --_column-count---value: 12;
    grid-template-rows: auto;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: repeat(var(--_column-count---value), minmax(0, 1fr));
    flex-flow: column;
    display: grid

}

.u-grid-breakout {

    grid-column-gap: var(--site--gutter);
    grid-row-gap: var(--site--gutter);
    grid-template-rows: auto;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: var(--grid-breakout);
    display: grid

}

.u-align-self-variable {

    align-self: var(--_alignment---direction, start)

}

.u-align-self-start {

    align-self: flex-start

}

.u-align-self-center {

    align-self: center

}

.u-align-self-end {

    align-self: flex-end

}

.u-align-self-stretch {

    align-self: stretch

}

.u-align-items-stretch {

    align-items: stretch

}

.u-align-items-start {

    align-items: flex-start

}

.u-align-items-center {

    align-items: center

}

.u-align-items-end {

    align-items: flex-end

}

.u-align-items-variable {

    align-items: var(--_alignment---direction, start)

}

.u-justify-content-start {

    justify-content: flex-start

}

.u-justify-content-center {

    justify-content: center

}

.u-justify-content-end {

    justify-content: flex-end

}

.u-justify-content-between {

    justify-content: space-between

}

.u-justify-content-around {

    justify-content: space-around

}

.u-justify-content-variable {

    justify-content: var(--_alignment---direction, start)

}

.u-color-inherit {

    color: inherit

}

.u-color-faded {

    color: color-mix(in srgb, var(--_theme---text)60%, transparent)

}

.u-background-transparent {

    background-color: #0000

}

.u-background-1 {

    background-color: var(--_theme---background)

}

.u-background-2 {

    background-color: var(--_theme---background-2)

}

.u-background-skeleton {

    background-color: color-mix(in lab, currentcolor 10%, transparent)

}

.u-gap-0 {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: 0rem

}

.u-gap-inherit {

    grid-column-gap: inherit;
    grid-row-gap: inherit

}

.u-gap-1 {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: var(--_spacing---space--1)

}

.u-gap-2 {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: var(--_spacing---space--2)

}

.u-gap-gutter {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: var(--site--gutter)

}

.u-gap-3 {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: var(--_spacing---space--3)

}

.u-gap-4 {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: var(--_spacing---space--4)

}

.u-gap-5 {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: var(--_spacing---space--5)

}

.u-gap-6 {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: var(--_spacing---space--6)

}

.u-gap-7 {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: var(--_spacing---space--7)

}

.u-gap-8 {

    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    --_gap---size: var(--_spacing---space--8)

}

.u-gap-row-0 {

    grid-row-gap: 0rem

}

.u-gap-row-inherit {

    grid-row-gap: inherit

}

.u-gap-row-1 {

    grid-row-gap: var(--_spacing---space--1)

}

.u-gap-row-2 {

    grid-row-gap: var(--_spacing---space--2)

}

.u-gap-row-gutter {

    grid-row-gap: var(--site--gutter)

}

.u-gap-row-3 {

    grid-row-gap: var(--_spacing---space--3)

}

.u-gap-row-4 {

    grid-row-gap: var(--_spacing---space--4)

}

.u-gap-row-5 {

    grid-row-gap: var(--_spacing---space--5)

}

.u-gap-row-6 {

    grid-row-gap: var(--_spacing---space--6)

}

.u-gap-row-7 {

    grid-row-gap: var(--_spacing---space--7)

}

.u-gap-row-8 {

    grid-row-gap: var(--_spacing---space--8)

}

.u-mt-auto {

    margin-top: auto

}

.u-mt-0 {

    margin-top: 0

}

.u-mt-gutter {

    margin-top: var(--site--gutter)

}

.u-mt-text {

    margin-top: var(--_text-style---margin-top)

}

.u-mt-1 {

    margin-top: var(--_spacing---space--1)

}

.u-mt-2 {

    margin-top: var(--_spacing---space--2)

}

.u-mt-3 {

    margin-top: var(--_spacing---space--3)

}

.u-mt-4 {

    margin-top: var(--_spacing---space--4)

}

.u-mt-5 {

    margin-top: var(--_spacing---space--5)

}

.u-mt-6 {

    margin-top: var(--_spacing---space--6)

}

.u-mt-7 {

    margin-top: var(--_spacing---space--7)

}

.u-mt-8 {

    margin-top: var(--_spacing---space--8)

}

.u-mb-auto {

    margin-bottom: auto

}

.u-mb-0 {

    margin-bottom: 0

}

.u-mb-gutter {

    margin-bottom: var(--site--gutter)

}

.u-mb-text {

    margin-bottom: var(--_text-style---margin-bottom)

}

.u-mb-1 {

    margin-bottom: var(--_spacing---space--1)

}

.u-mb-2 {

    margin-bottom: var(--_spacing---space--2)

}

.u-mb-3 {

    margin-bottom: var(--_spacing---space--3)

}

.u-mb-4 {

    margin-bottom: var(--_spacing---space--4)

}

.u-mb-5 {

    margin-bottom: var(--_spacing---space--5)

}

.u-mb-6 {

    margin-bottom: var(--_spacing---space--6)

}

.u-mb-7 {

    margin-bottom: var(--_spacing---space--7)

}

.u-mb-8 {

    margin-bottom: var(--_spacing---space--8)

}

.u-weight-regular {

    font-family: var(--_typography---font--primary-family);
    font-weight: var(--_typography---font--primary-regular)

}

.u-weight-medium {

    font-family: var(--_typography---font--primary-family);
    font-weight: var(--_typography---font--primary-medium)

}

.u-weight-bold {

    font-family: var(--_typography---font--primary-family);
    font-weight: var(--_typography---font--primary-bold)

}

.u-min-height-screen {

    min-height: 100svh

}

.u-column-full {

    grid-column: 1/-1

}

.u-column-custom {

    grid-column: auto/span 1

}

.u-column-indent {

    grid-column: 2/-2

}

.u-column-1 {

    grid-column: auto/span 1

}

.u-column-2 {

    grid-column: auto/span 2

}

.u-column-3 {

    grid-column: auto/span 3

}

.u-column-4 {

    grid-column: auto/span 4

}

.u-column-5 {

    grid-column: auto/span 5

}

.u-column-6 {

    grid-column: auto/span 6

}

.u-column-7 {

    grid-column: auto/span 7

}

.u-column-8 {

    grid-column: auto/span 8

}

.u-column-9 {

    grid-column: auto/span 9

}

.u-column-10 {

    grid-column: auto/span 10

}

.u-column-11 {

    grid-column: auto/span 11

}

.u-column-12 {

    grid-column: auto/span 12

}

.u-alignment-start {

    --_alignment---direction: start;
    text-align: var(--_alignment---direction, start)

}

.u-alignment-center {

    --_alignment---direction: center;
    text-align: var(--_alignment---direction, start)

}

.u-alignment-end {

    --_alignment---direction: end;
    text-align: var(--_alignment---direction, start)

}

.u-text-transform-none {

    text-transform: none

}

.u-text-transform-uppercase {

    text-transform: uppercase

}

.u-text-transform-capitalize {

    text-transform: capitalize

}

.u-text-transform-lowercase {

    text-transform: lowercase

}

.u-text-wrap-default {

    text-wrap: wrap

}

.u-text-wrap-balance {

    text-wrap: balance

}

.u-text-wrap-pretty {

    text-wrap: pretty

}

.u-max-width-none {

    max-width: none

}

.u-max-width-10ch {

    max-width: 10ch

}

.u-max-width-12ch {

    max-width: 12ch

}

.u-max-width-14ch {

    max-width: 14ch

}

.u-max-width-16ch {

    max-width: 16ch

}

.u-max-width-18ch {

    max-width: 18ch

}

.u-max-width-20ch {

    max-width: 20ch

}

.u-max-width-30ch {

    max-width: 30ch

}

.u-max-width-40ch {

    max-width: 40ch

}

.u-max-width-50ch {

    max-width: 50ch

}

.u-max-width-60ch {

    max-width: 60ch

}

.u-max-width-70ch {

    max-width: 70ch

}

.u-max-width-80ch {

    max-width: 80ch

}

.u-radius-none {

    border-radius: 0

}

.u-radius-inherit {

    border-radius: inherit

}

.u-radius-small {

    border-radius: var(--radius--small)

}

.u-radius-main {

    border-radius: var(--radius--main)

}

.u-radius-round {

    border-radius: var(--radius--round)

}

.u-overflow-visible {

    overflow: visible

}

.u-overflow-hidden {

    overflow: hidden

}

.u-overflow-clip {

    overflow: clip

}

.u-overflow-x-auto {

    overflow: auto clip

}

.u-overflow-y-auto {

    overflow: clip auto

}

.u-overflow-hidden-left {

    -webkit-clip-path: polygon(0 0, calc(100% + 100vw) 0, calc(100% + 100vw) 100%, 0% 100%);
    clip-path: polygon(0 0, calc(100% + 100vw) 0, calc(100% + 100vw) 100%, 0% 100%)

}

.u-display-block {

    display: block

}

.u-display-inline {

    display: inline

}

.u-display-inline-block {

    display: inline-block

}

.u-display-inline-flex {

    display: inline-flex

}

.u-display-inline-grid {

    display: inline-grid

}

.u-display-contents {

    display: contents

}

.u-display-none {

    display: none

}

.u-zindex-negative {

    z-index: -1;
    position: relative

}

.u-zindex-0 {

    z-index: 0;
    position: relative

}

.u-zindex-unset {

    z-index: unset;
    position: relative

}

.u-zindex-1 {

    z-index: 1;
    position: relative

}

.u-zindex-2 {

    z-index: 2;
    position: relative

}

.u-zindex-3 {

    z-index: 3;
    position: relative

}

.u-position-static {

    position: static

}

.u-position-relative {

    position: relative

}

.u-position-absolute {

    position: absolute

}

.u-position-sticky {

    position: sticky;
    top: 0

}

.u-position-fixed {

    position: fixed

}

.u-height-full {

    height: 100%

}

.u-width-full {

    width: 100%

}

.u-cover {

    width: 100%;
    height: 100%

}

.u-cover-absolute {

    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%

}

.u-pointer-on {

    pointer-events: auto

}

.u-pointer-off {

    pointer-events: none

}

.u-ratio-1-1 {

    aspect-ratio: 1

}

.u-ratio-16-9 {

    aspect-ratio: 16/9

}

.u-ratio-3-2 {

    aspect-ratio: 3/2

}

.u-ratio-2-3 {

    aspect-ratio: 2/3

}

.u-ratio-2-1 {

    aspect-ratio: 2

}

.u-margin-inline-auto {

    margin-left: auto;
    margin-right: auto

}

.u-order-first {

    order: -1

}

.u-order-last {

    order: 1

}

.u-object-fit-cover {

    object-fit: cover

}

.u-object-fit-contain {

    object-fit: contain

}

.u-threshold-large {

    container-name: threshold-large

}

.u-threshold-medium {

    container-name: threshold-medium

}

.u-threshold-small {

    container-name: threshold-small

}
